.project {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
}

.project-text {
  width: 65%;
  position: relative;
}

.project-title {
  font-size: 50px;
  font-weight: 600;
  font-size: 80px;
}

.project-desc {
  margin: 20px 0px;
  font-size: 25px;
  height: 50%;
}

.project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-bg {
  clip-path: polygon(63% 0, 100% 0%, 41% 100%, 0% 100%);
  background-color: orangered;
  height: 100%;
  width: 100%;
  position: absolute;
}
