/* .project {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.project-text {
  width: 65%;
  position: relative;
}

.project-title {
  font-size: 50px;
  font-weight: 600;
}

.project-desc {
  margin: 20px 0px;
}

.project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
*/

.project {
  padding: 50px 100px;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.project-text {
  width: 65%;
  position: relative;
}
.project-desc {
  margin: 20px 0px;
}
.project-title {
  font-size: 50px;
  font-weight: 600;
}

.project-bg {
  clip-path: polygon(63% 0, 100% 0%, 41% 100%, 0% 100%);
  background-color: orangered;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 480px) {
  .project {
    padding: 10px;
  }

  .project-texts {
    width: 100%;
  }

  .project-desc {
    display: none;
  }
}

.project-list {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
