/* .project {
  padding: 50px 100px;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.project-text {
  position: relative;
}
.project-desc {
  margin: 20px 0px;
}
.project-title {
  font-size: 50px;
  font-weight: 600;
}

.project-mobile,
.project-desktop {
  color: #363535;
}

@media screen and (max-width: 480px) {
  .project {
    padding: 10px;
  }

  .project-desc {
    display: none;
  }
}

.project-list {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .project-desktop {
    display: none;
  }
}

@media screen and (min-width: 767.99px) {
  .project-mobile {
    display: none;
  }
} */
