.about {
  display: flex;
  height: 100vh;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: orangered;
}
.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-right {
  padding: 50px;
}

.about-title {
  font-size: 80px;
}
.about-subtitle {
  padding-top: 20px;
  font-size: 20px;
  height: 50%;
}

.about-desc {
  padding-top: 20px;
  font-size: 20px;
  height: 50%;
}
