.contact {
  height: 100vh;
  position: relative;
}
.contact-heading {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
.contact-wrapper {
  width: 90%;
  margin: auto;
  padding: 50px;
  display: flex;
  background-color: orangered;
  border-radius: 20px;
}

.contact-title {
  font-size: 60px;
  width: 100%;
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

form {
  margin-top: 20px;
}

input {
  width: 70%;
  height: 50px;
  border: none;
  border-bottom: 2px solid orangered;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid orangered;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.btn {
  position: relative;
  border: 1px solid black;
  display: inline;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: orangered;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.submitMessage {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #363535;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

.heading-right {
  padding: 50px;
}

.info-link-container {
  background-color: #363535;
  padding: 30px;
  border-radius: 20px;
  width: 80%;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  font-weight: 300;
  font-size: 25px;
  color: orangered;
}

.social-sub-heading {
  font-size: 20px;
}

a.contact-info-item {
  justify-content: center;
  align-items: center;
}
a.contact-info-item:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.5);
}

@media screen and (max-width: 767.98px) {
  .contact-wrapper {
    padding: 0px 50px;
  }

  .contact-title {
    font-size: 30px;
  }

  .contact-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .btn {
    padding: 10px 25px;
  }

  .contact-bg {
    width: 100%;
    /* height: 60%; */
  }
  .submitMessage {
    font-size: 20px;
    margin: auto;
  }
  .contact {
    height: unset;
  }
  .contact-info-item {
    font-size: 18px;
  }
  .info-link-container {
    padding: 20px;
  }

  .contact-title,
  .heading-right {
    padding: 10px;
  }

  .contact-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 952.5px) {
  .contact-wrapper {
    flex-direction: column;
    margin-top: 0px;
  }

  .contact-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .info-link-container {
    width: 100%;
    margin-bottom: 50px;
  }
  .contact-right {
    margin: 0;
  }
}
