.toggle {
  width: 50px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #333;
  background-color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  height: 18px;
  width: 18px;
}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  cursor: pointer;
}
